PORT=8080
DATABASE_USER=db_user
DATABASE_PASSWORD=supersecretpassword
DATABASE_HOST=localhost
DATABASE_NAME=db_name
DATABASE_PORT=5432

JWT_ACCESS_SECRET=your-secret-key-that-is-at-least-32-characters-long
JWT_ACCESS_TOKEN_TTL=15m
JWT_REFRESH_TOKEN_TTL=168h
JWT_ISSUER=golang-rbac-system